/* === Google Fonts ===*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
.App {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

* {
  padding: 0px;
  margin: 0px;
}

/* ==== Typography ====*/
:root {
  --body-font: "Raleway", sans-serif;
  --big-font-size: 2rem;
  --medium-font-size:1rem;
  --normal-font-size:0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --medium-font-size:2rem;
    --normal-font-size:1rem;
  }
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: #cccccc;
}

header {
  height: 110vh;
  width: 100%;
  position: relative;
  background-image: url("../img/back.jpg");
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #011f41;
}

.overlay .greet-block {
  top: 160px;
  padding: 20px;
  position: absolute;
  font-size: var(--medium-font-size);
  font-weight: bold;
}

.overlay .greet-block .greet {
  font-size: var(--big-font-size);
  font-weight: bold;
}

.overlay .greet-block .greet .greet-title_color {
  color: aquamarine;
}

/* Section Styling */
.section-title {
  color: #cccccc;
  position: relative;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 5rem;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .section-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .section-title {
    text-align: center;
  }
}

.section-title::before, .section-title::after {
  position: absolute;
  pointer-events: none;
}

.section-title::before {
  content: '';
  width: 10rem;
  border-bottom: 2px solid aquamarine;
  bottom: 0;
  opacity: 0.4;
}

@media only screen and (max-width: 600px) {
  .section-title::before {
    width: 20%;
  }
}

.section-title::after {
  content: attr(data-title);
  top: 0;
  right: 0;
  opacity: 0.04;
  font-size: 10rem;
  font-weight: 700;
  color: #93b6f180;
  letter-spacing: 0.3rem;
  line-height: 1;
}

@media only screen and (max-width: 1100px) {
  .section-title::after {
    font-size: 8rem;
    letter-spacing: 0;
  }
}

@media only screen and (max-width: 600px) {
  .section-title::after {
    display: none;
  }
}

/* About Styling */
.about {
  background-color: #011f41;
  padding: 30px;
}

/* Skills Styling */
.skills {
  background-color: #011f41;
  padding: 30px;
}

.skills .skills_container .skills_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.skills_heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .skills_heading {
    font-size: 1.5rem;
  }
}

.skills_item {
  padding: 1rem 1rem;
  text-align: center;
}

.skills_item img, .skills_item i {
  display: block;
  font-size: 4rem;
  padding-bottom: 1rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.projects {
  background-color: #011f41;
  padding: 30px;
}

.contact {
  background-color: #011f41;
  padding: 30px;
}
/*# sourceMappingURL=App.css.map */