.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  padding: 0px;
  margin: 0px;
}
nav {
  display: flex;
  flex-direction: row-reverse;
  background-color: blue;
  align-items: center;
  padding: 0px 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 8px;
}
 
nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

header {
  height: 90vh;
  background-image: url('./img/back.jpg');
  background-size: cover;
}

header h1 {
  /* font-family: Futura; */
  color: aqua;
  letter-spacing: 1px;
  position:absolute;
  top: 12vh;
  left: 12vh;
  font-size: 5vh;
  font-weight: bold;
}

header .typed {
  color: aqua;
  position: absolute;
  top: 20vh;
  left: 12vh;
  font-family: cursive;
  font-size: 3vh;
  font-weight: bold;
  display: inline-block;
}

.about {
  background-color: rgb(18, 11, 58);
  padding-bottom: 30px;
  padding-top: 20px;
}

.about .about-text {
  color: white;
}

.about .profile-pic {
  height: 30vh;
  width: 30vh;
}

/* hr {
  color: #282c34;
  display: block;
  margin-block-start: 100px;
}

hr .star-primary {
  border-color: black;
  border-top: solid 5px;
  max-width: 250px;

} */